<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.dbtest" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activitys.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.ActivityLogin"/>


        <activity android:name=".activitys.ActivityEditInfo"/>
        <activity android:name=".activitys.ActivityMyInfo"/>
        <activity android:name=".activitys.ActivityStoryWrite"/>
        <activity android:name=".activitys.ActivityStoryAll"/>
        <activity android:name=".activitys.ActivityStoryEdit"/>
        <activity android:name=".activitys.ActivityStoryPublish"/>
        <activity android:name=".activitys.ActivityMyHouseAll"/>
        <activity android:name=".activitys.ActivityMyHouseAdd"/>
        <activity android:name=".activitys.ActivityMyHouseEdit"/>
    </application>

</manifest>